[submodule "exercises/ex1/lib/forge-std"]
	path = exercises/ex1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "exercises/ex2/lib/forge-std"]
	path = exercises/ex2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
